@import "../../scss/variables.scss";

.ct-main {
	max-width: 1060px;
	margin-top: 20px;
	margin-left: 263px;
	@media (max-width: 480px) {
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.ct-section-main {
		.ct-title-btns {
			display: flex;
			justify-content: space-between;
			@media (max-width: 790px) {
				flex-direction: column;
				align-items: center;
			}

			@media (max-width: 480px) {
				padding: 5px;
			}
			h1 {
				@include formatText(
					$color-orange,
					$roboto-family,
					20px,
					900,
					none
				);
				@media (max-width: 790px) {
					font-size: 16px;
				}
				@media (max-width: 480px) {
					margin: 5px auto;
					font-size: 14px;
					text-align: center;
				}
			}

			.ct-btns-aside {
				display: flex;
				flex-direction: column;
				max-width: 240px;
				@media (max-width: 480px) {
					margin-top: 5px;
				}
				.box-buttons {
					display: flex;
					.box-buttons__download {
						@include btnConfig(
							#ffff,
							120px,
							31px,
							$color-orange,
							4px,
							16px,
							$quicksand-family
						);
						justify-self: flex-end;
					}
					.box-buttons__icons {
						@include btnConfig(
							#ffff,
							43px,
							31px,
							$color-orange,
							4px,
							0,
							$quicksand-family
						);
						padding: 5px;
						margin-left: 17px;
					}
				}
				p {
					margin: 12px;
					justify-items: flex-end;
					@include formatText(
						$color-orange,
						$roboto-family,
						14px,
						500,
						end
					);
				}
			}
		}

		.ct-videoEdetails {
			display: flex;
			flex-wrap: wrap;
			.ct-videoEdetails__video {
				position: relative;
				max-width: 783px;
				max-height: 439px;
				@media (max-width: 460px) {
					margin: 0 auto;
				}
				h2 {
					margin-top: 35px;
					margin-left: 32px;
					@include formatText(#ffff, $roboto-family, 24px, 900, none);
					@media (max-width: 1068px) {
						max-width: 380px;
						margin-top: 20px;
						margin-left: 14px;
						font-size: 16px;
					}

					@media (max-width: 790px) {
						max-width: 320px;
						margin-top: 20px;
						margin-left: 14px;
						font-size: 12px;
					}

					@media (max-width: 460px) {
						margin-left: 8px;
						text-align: justify;
						font-size: 12px;
						max-width: 290px;
					}
				}
				img {
					background-size: 100%;
					@media (max-width: 1068px) {
						max-width: 480px;
					}
					@media (max-width: 460px) {
						max-width: 320px;
					}

					@media (max-width: 360px) {
						max-width: 300px;
					}
					

				}
				.box-overlay {
					position: absolute;
					background: #8d350680;
					width: 100%;
					height: 100%;
					z-index: 0;
					@media (max-width: 1068px) {
						max-width: 480px;
						max-height: 270px;
					}
					
				}

				h2 {
					position: absolute;
					z-index: 1;
					width: 100%;
				}

				.ct-overlay-contents {
					top: 0;
					position: absolute;
					display: flex;
					align-items: center;
					margin-top: 301px;
					margin-left: 31px;
					z-index: 1;
					width: 100%;
					@media (max-width: 1068px) {
						margin-top: 150px;
						max-width: 480px;
						margin-left: 12px;
					}
					@media (max-width: 790px) {
						margin-top: 150px;
						max-width: 480px;
					}

					@media (max-width: 460px) {
						margin-top: 100px;
					}
					@media (max-width: 360px) {
						width: 280px;
						max-height: 270px;
					}
					.contents-icon {
						img {
							@media (max-width: 460px) {
								width: 60px;
							}
						}
					}

					.contents-txts {
						margin-left: 17px;
						h4 {
							@include formatText(
								#ffff,
								$roboto-family,
								34px,
								900,
								none
							);
							@media (max-width: 1068px) {
								font-size: 20px;
							}
							@media (max-width: 790px) {
								font-size: 20px;
							}
							@media (max-width: 460px) {
								font-size: 14px;
							}
						}
						h5 {
							@include formatText(
								#ffff,
								$roboto-family,
								20px,
								900,
								none
							);
							@media (max-width: 1068px) {
								font-size: 16px;
							}
							@media (max-width: 790px) {
								font-size: 14px;
							}
							@media (max-width: 460px) {
								font-size: 12px;
							}
						}
					}
				}
			}

			.ct-videoEdetails__details {
				max-width: 240px;
				margin-left: 20px;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				border: 1px solid #ececec;
				border-radius: 3px;
				@media (max-width: 1024px) {
					margin: 10px auto;
				}
				.box-title {
					background: $color-header;
					border: 1px solid #ececec;
					border-radius: 3px 3px 0px 0px;
					max-width: 240px;
					margin-bottom: 10px;

					h2 {
						margin: 11px 15px;
						@include formatText(
							#4e4e4e,
							$quicksand-family,
							20px,
							500,
							none
						);
					}
				}
				h3 {
					margin-top: 10px;
					@include formatText(
						#4e4e4e,
						$quicksand-family,
						18px,
						600,
						none
					);
				}

				p {
					@include formatText(
						#5c5c5c,
						$quicksand-family,
						14px,
						500,
						none
					);
				}
				.ct-asidefooter {
					margin: 20px 10px;
					sup {
						font-size: 10px;
					}
					p {
						@include formatText(
							#5c5c5c,
							$quicksand-family,
							13px,
							500,
							none
						);
					}
				}
			}
		}
	}
}
