@import "../../scss/variables.scss";

.ct-header {
	max-width: 1440px;
	width: 100%;
	background: $color-header;
	@media (min-width: 1440px) {
		width: 100%;
		margin-left: 220px;
	}
	@media (max-width: 480px) {
		width: 100%;
	}
	@media (max-width: 360px) {
		width: 100%;
		
	}

	.ct-header-contents {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-left: 220px;

		@media (max-width: 1024px) {
			flex-direction: column;
		}

		@media (max-width: 480px) {
			margin: 0;
		}

		.ct-header__texts {
			margin-left: 36px;
			h3 {
				@include formatText(#725c5c, $roboto-family, 14px, 400, none);
			}
			h2 {
				@include formatText(#725c5c, $roboto-family, 22px, 400, none);
				@media (max-width: 790px) {
					font-size: 10px;
				}
			}
			p {
				@include formatText(#725c5c, $roboto-family, 14px, 400, none);
			}
		}

		.ct-header__boxes {
			display: flex;
			align-items: center;
			@media (max-width: 480px) {
				justify-content: space-between;
			}
			.menu-hamburguer {
				display: none;
				@media (max-width: 480px) {
					display: block;
				}
			}
			.box-lang {
				width: 97px;
				height: 34px;
				margin-left: 100px;
				display: flex;
				border: 1px solid #cccccc;
				border-radius: 3px;
				padding: 5px;
				justify-content: center;
				align-items: center;
				background-color: $color-header;
				cursor: pointer;
				@media (max-width: 480px) {
					margin: 0;
					margin-left: 5px;
					width: 80px;
				}
				.box-lang__icon {
					@media (max-width: 480px) {
						font-size: 10px;
					}
				}
				p {
					margin-left: 5px;
					margin-right: 5px;
					@include formatText(
						#725c5c,
						$roboto-family,
						14px,
						400,
						none
					);
					@media (max-width: 480px) {
						font-size: 10px;
					}
				}
			}

			.box-login {
				display: flex;
				padding: 5px;
				margin-left: 5px;

				.box-texts {
					display: flex;
					flex-direction: column;
					p {
						align-self: flex-end;
						@include formatText(
							#725c5c,
							$roboto-family,
							14px,
							400,
							none
						);
						@media (max-width: 480px) {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}
