@import "../../scss/variables.scss";

.ct-enviado {
	margin-top: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid #ececec;
	border-radius: 3px;
	.box-title {
		@include boxTitle(1058px);
		h2 {
			@include formatText(#4e4e4e, $roboto-family, 20px, 700, justify);
			margin: 10px 15px;
		}
	}
	h3 {
		margin-top: 15px;
		@include formatText($color-orange, $roboto-family, 18px, 700, center);
	}
	h4 {
		margin-top: 18px;
		@include formatText(#595959, $quicksand-family, 14px, 400, center);
	}
	p {
		margin-top: 29px;
		@include formatText(
			$color-orange,
			$quicksand-family,
			14px,
			500,
			center
		);
		text-decoration: underline;
	}

	.separator {
		max-width: 1027px;
		width: 100%;
		margin-top: 65px;
		margin-left: 16px;
		border-bottom: 1px solid #e7e7e7;
	}

	button {
		position: absolute;
		max-width: 235.15px;
		margin: 215px 411px;
		@include btnConfig(
			#ffff,
			100%,
			32px,
			$color-gradient,
			4px,
			15px,
			$roboto-family
		);
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12),
			0px 2px 2px rgba(0, 0, 0, 0.24);
	}

	.ct-enviado__feedback {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1028px;
		background: #dddddd;
		border: 1px solid #e7e7e7;
		border-radius: 4px;
		margin: 25px 15px 1px;
		.check-icon {
			margin-top: 35px;
			color: #707070;
			font-size: 30px;
		}
		h3 {
			margin: 0;
			margin-top: 7px;
			@include formatText(#707070, $quicksand-family, 16px, 700, center);
		}
		p {
			@include formatText(
				$color-orange,
				$quicksand-family,
				14px,
				400,
				center
			);
			margin-bottom: 35px;
		}
	}
}
