@import "../../scss/variables.scss";

.ct-resumo {
	border: 1px solid #ececec;
	border-radius: 3px;
	margin-top: 30px;
	.box-title {
		@include boxTitle(1058px);
		h2 {
			@include formatText(#4e4e4e, $roboto-family, 20px, 700, justify);
			margin: 10px 15px;
		}
	}
	.ct-resumo__text {
		margin: 15px;
		cursor: pointer;
		p {
			@include formatText(#5c5c5c, $quicksand-family, 14px, 700, justify);
			margin-bottom: 20px;
			.color-text {
				color: $color-orange;
				font-weight: 700;
			}
		}
	}
}
